body {
  background-color: #333;
}

.op-colon, .op-comma {
  margin-right: 8px;
}
  
.op-br-o {
  margin-right: 2px;
}
.op-br-c {
  margin-left: 2px;
}
.op-ret {
  margin-left: 4px;
  margin-right: 4px;
  font-weight: 900;
}


.keyword {
  color: #326bddff;
}
.ts-base {
  color: #2463e0ff;
}
.ts-class {
  color: #2abe8d;
  font-weight: 600; 
}
  
.ts-type-intf {
  color: #7fbba7;
}
.ts-method {
  color: #ebebeb;
  font-weight: 600;
}



